<section class="main-content">
  <div class="section-body">
    <div class="row">
      <form
        class="register-form"
        [formGroup]="register"
        (ngSubmit)="purchase(register)"
      >
        <div class="row mt-2">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="card mb-3">
              <span class="card-label">Booking Information</span>
              <div class="card-body-narrow">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group row">
                      <label for="receiveNumber" class="col-sm-4 col-form-label"
                        >Receive Number:</label
                      >
                      <div class="col-sm-8">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="receiveNumber"
                          formControlName="receiveNumber"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group row">
                    <label for="branch" class="col-sm-4 col-form-label"
                      >Receive for:</label
                    >
                    <div class="col-sm-8">
                      <select
                        class="form-select form-control-sm"
                        formControlName="branchId"
                        required
                        [disabled]="true"
                      >
                        <option value="" selected disabled>
                          Please select
                        </option>
                        @for (option of branchs; track option) {
                        <option [value]="option.value">
                          {{ option.text }}
                        </option>
                        }
                      </select>
                      @if (!register.get('branchId')?.valid &&
                      register.get('branchId')?.touched) {
                      <small class="form-text text-danger">
                        Branch is required
                      </small>
                      }
                    </div>
                  </div>
                </div> -->
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group row">
                      <label for="receiveDate" class="col-sm-4 col-form-label"
                        >Date:</label
                      >
                      <div class="col-sm-8">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="receiveDate"
                          formControlName="receiveDate"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="card mb-2">
                  <span class="card-label">Customer Information</span>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                          <label for="customer" class="col-sm-4 col-form-label"
                            >Customer:</label
                          >
                          <div class="col-sm-8">
                            <div class="input-group input-group-select">
                              <ng-select
                                [items]="customers"
                                bindLabel="customerName"
                                formControlName="customer"
                                [loading]="customerLoading"
                              >
                              </ng-select>
                              <div class="input-group-append">
                                <button
                                  class="btn btn-primary fw-bold font-20"
                                  type="button"
                                  (click)="addCustomer()"
                                >
                                  +
                                </button>
                              </div>
                            </div>
                          </div>
                          @if (!register.get('customer')?.valid &&
                          register.get('customer')?.touched) {
                          <small class="form-text text-danger">
                            Customer is required
                          </small>
                          }
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                          <label
                            for="customerMobile"
                            class="col-sm-4 col-form-label"
                            >Mobile:</label
                          >
                          <div class="col-sm-8">
                            <input
                              type="text"
                              class="form-control form-control-sm"
                              id="customerMobile"
                              [value]="register.get('customer')?.value?.['customerMobile']??''"
                              readonly
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <div class="form-group row">
                          <label
                            for="customerAddress"
                            class="col-sm-4 col-form-label"
                            >Address:</label
                          >
                          <div class="col-sm-8">
                            <textarea
                              type="text"
                              class="form-control"
                              id="customerAddress"
                              style="height: 90px !important"
                              [value]="register.get('customer')?.value?.['address']??''"
                              readonly
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <form
                  class="product-form"
                  [formGroup]="productForm"
                  (ngSubmit)="addToCart()"
                >
                  <div class="card mb-2">
                    <span class="card-label">Product Information</span>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group row">
                            <label for="product" class="col-sm-3 col-form-label"
                              >Product:</label
                            >
                            <div class="col-sm-9">
                              <div class="input-group input-group-select">
                                <ng-select
                                  [items]="products"
                                  bindLabel="productName"
                                  formControlName="product"
                                  [loading]="productLoading"
                                  (change)="setProductDetails()"
                                >
                                </ng-select>
                                <div class="input-group-append">
                                  <button
                                    class="btn btn-primary fw-bold font-20"
                                    type="button"
                                    (click)="addProduct()"
                                  >
                                    +
                                  </button>
                                </div>
                              </div>
                            </div>
                            @if (!productForm.get('product')?.valid &&
                            productForm.get('product')?.touched) {
                            <small class="form-text text-danger text-end">
                              Product is required
                            </small>
                            }
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group row">
                            <label
                              for="receiveUnit"
                              class="col-sm-3 col-form-label"
                              >Unit:</label
                            >
                            <div class="col-sm-9">
                              <div class="input-group input-group-select">
                                <ng-select
                                  [items]="productUnits"
                                  bindLabel="text"
                                  formControlName="receiveUnit"
                                  [loading]="productUnitLoading"
                                >
                                </ng-select>
                                <div class="input-group-append">
                                  <button
                                    class="btn btn-primary fw-bold font-20"
                                    type="button"
                                    (click)="addUnit()"
                                  >
                                    +
                                  </button>
                                </div>
                              </div>
                            </div>
                            @if (!productForm.get('receiveUnit')?.valid &&
                            productForm.get('receiveUnit')?.touched) {
                            <small class="form-text text-danger">
                              Unit is required
                            </small>
                            }
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group row">
                            <label
                              for="bookingRate"
                              class="col-sm-3 col-form-label"
                              >Rate:</label
                            >
                            <div class="col-sm-4">
                              <input
                                type="text"
                                class="form-control form-control-sm"
                                id="bookingRate"
                                formControlName="bookingRate"
                                (ngModelChange)="setReceiveAmount()"
                              />
                            </div>
                            <label
                              for="receiveQuantity"
                              class="col-sm-2 col-form-label"
                              >Qty</label
                            >
                            <div class="col-sm-3">
                              <input
                                type="text"
                                class="form-control form-control-sm"
                                id="receiveQuantity"
                                formControlName="receiveQuantity"
                                (ngModelChange)="setReceiveAmount()"
                              />
                            </div>
                            @if ((!productForm.get('bookingRate')?.valid &&
                            productForm.get('bookingRate')?.touched)
                            ||(!productForm.get('receiveQuantity')?.valid &&
                            productForm.get('receiveQuantity')?.touched) ) {
                            <small class="form-text text-danger text-end">
                              Rate & quantity is required
                            </small>
                            }
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group row">
                            <label
                              for="receiveAmount"
                              class="col-sm-3 col-form-label"
                              >T. Amount:</label
                            >
                            <div class="col-sm-9">
                              <input
                                type="text"
                                class="form-control form-control-sm"
                                id="receiveAmount"
                                formControlName="receiveAmount"
                              />
                            </div>
                            @if (!productForm.get('receiveAmount')?.valid &&
                            productForm.get('receiveAmount')?.touched) {
                            <small class="form-text text-danger text-end">
                              Total amount is required
                            </small>
                            }
                          </div>
                        </div>
                        <div
                          class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-end"
                        >
                          <button
                            type="button"
                            class="btn btn-warning px-3 py-0 mx-1"
                            [disabled]="!productForm.dirty"
                            (click)="productForm.reset()"
                          >
                            Reset
                          </button>
                          <button
                            type="submit"
                            class="btn btn-primary px-2 py-0"
                            [disabled]="!productForm.valid"
                          >
                            Add to cart
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card mt-0">
                  <div class="card-body">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center">SL</th>
                          <th scope="col" class="text-center">Product</th>
                          <th scope="col" class="text-center">Rate</th>
                          <th scope="col" class="text-center">Quantity</th>
                          <th scope="col" class="text-center">Total</th>
                          <th scope="col" class="text-center">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (row of
                        register.get('productReceiveDetails')?.value; track row;
                        let idx = $index) {
                        <tr>
                          <th class="text-center" scope="row">{{ idx + 1 }}</th>
                          <td class="text-center">{{ row.productName }}</td>
                          <td class="text-center">{{ row.bookingRate }}</td>
                          <td class="text-center">
                            {{ row.receiveQuantity }}
                          </td>
                          <td class="text-center">{{ row.receiveAmount }}</td>
                          <td class="text-center">
                            <a
                              data-toggle="tooltip"
                              title=""
                              data-original-title="Delete"
                              (click)="removeFromCart(idx)"
                            >
                              <i class="far fa-trash-alt m-1"></i>
                            </a>
                          </td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="card">
              <span class="card-label">Amount Details</span>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <label for="subtotal">Sub Total</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="subtotal"
                        (ngModelChange)="setReceiveTotal()"
                        readonly
                      />
                    </div>
                    @if (!register.get('subtotal')?.valid &&
                    register.get('subtotal')?.touched) {
                    <small class="form-text text-danger">
                      Subtotal is required
                    </small>
                    }
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="vatAmount">Vat Amount</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="vatAmount"
                        formControlName="vatAmount"
                        (change)="setReceiveTotal()"
                      />
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="discountPercent">Discount</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="discountPercent"
                        formControlName="discountPercent"
                        (change)="
                          register
                            .get('discountAmount')
                            ?.setValue(
                              (register.get('discountPercent')?.value *
                                register.get('subtotal')?.value) /
                                100
                            );
                          setReceiveTotal()
                        "
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group row mt-4">
                      <label
                        for="discountAmount"
                        class="col-sm-4 col-form-label mt-1"
                        >%</label
                      >
                      <div class="col-sm-8">
                        <input
                          type="text"
                          class="form-control form-control-sm mt-1"
                          id="discountAmount"
                          formControlName="discountAmount"
                          (change)="
                            register
                              .get('discountPercent')
                              ?.setValue(
                                (register.get('discountAmount')?.value * 100) /
                                  register.get('subtotal')?.value
                              );
                            setReceiveTotal()
                          "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <label for="otherCost">Transport / Other cost</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="otherCost"
                        formControlName="otherCost"
                        (change)="setReceiveTotal()"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <label for="totalAmount">Total</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="totalAmount"
                        (ngModelChange)="
                          register
                            .get('paidAmount')
                            ?.setValue(register.get('totalAmount')?.value)
                        "
                      />
                    </div>
                    @if (!register.get('totalAmount')?.valid &&
                    register.get('totalAmount')?.touched) {
                    <small class="form-text text-danger">
                      Total amount is required
                    </small>
                    }
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <label for="paidAmount">Paid</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="paidAmount"
                        formControlName="paidAmount"
                        (ngModelChange)="
                          register
                            .get('dueAmount')
                            ?.setValue(
                              register.get('totalAmount')?.value -
                                register.get('paidAmount')?.value
                            )
                        "
                      />
                    </div>
                    @if (!register.get('paidAmount')?.valid &&
                    register.get('paidAmount')?.touched) {
                    <small class="form-text text-danger">
                      Paid amount is required
                    </small>
                    }
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="dueAmount">Due</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="dueAmount"
                        formControlName="dueAmount"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="prevDueAmount">Prev. Due</label>
                      <input
                        type="text"
                        class="form-control form-control-sm text-danger fw-bolder"
                        id="prevDueAmount"
                        [value]="register.get('customer')?.value?.previousDue"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 text-end"
                >
                  <button
                    type="submit"
                    class="btn btn-primary mx-2"
                    [disabled]="
                      register.invalid ||
                      register.get('productReceiveDetails')?.value?.length ===
                        0 ||
                      isSubmitted
                    "
                  >
                    Receive
                  </button>
                  <button
                    type="button"
                    class="btn btn-light"
                    (click)="initFormData()"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
