<section class="main-content">
  <div class="section-body">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card mt-2">
          <span class="card-label">Delivery Invoices</span>
          <div class="p-10 mt-2">
            <form
              class="product-form"
              [formGroup]="criteriaForm"
              (ngSubmit)="getDeliveryData()"
            >
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group row">
                    <label for="delivery" class="col-sm-3 col-form-label"
                      >Find Delivery:</label
                    >
                    <div class="col-sm-9">
                      <div class="input-group input-group-select">
                        <ng-select
                          [items]="deliveryList"
                          bindLabel="text"
                          bindValue="value"
                          placeholder="Select Delivery"
                          formControlName="deliveryId"
                          [loading]="isDeliveryLoading"
                          (change)="getDeliveryData()"
                        >
                        </ng-select>
                        <div class="input-group-append">
                          <button
                            type="submit"
                            class="btn btn-primary px-2"
                            [disabled]="!criteriaForm.valid"
                          >
                            Show Invoice
                          </button>
                        </div>
                      </div>
                    </div>
                    @if (!criteriaForm.get('deliveryId')?.valid &&
                    criteriaForm.get('deliveryId')?.touched) {
                    <small class="form-text text-danger text-end">
                      Delivery is required
                    </small>
                    }
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Use Delivery Invoice Component -->
    <app-delivery-invoice [invoiceId]="deliveryId"></app-delivery-invoice>
  </div>
</section>
