.apex-pie-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-12 {
    font-size: 12px;
}

.m-t-15 {
    margin-top: 15px;
}

.col-cyan {
    color: #2ac3cb;
}

.col-orange {
    color: #ffaa00;
}

.col-blue {
    color: #6777ef;
}

.col-green {
    color: #28a745;
}

.tbl-row-border {
    border-bottom: 1px solid #f0f0f0;
}

.msr-2 {
    margin-right: 0.5rem;
}
