<section class="main-content">
  <div class="section-body">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card mt-2">
          <span class="card-label">Salary Payment Records</span>
          <div class="p-10">
            <div class="row">
              <div class="col-lg-12">
                <div class="row m-0 mb-3">
                  <div class="col-lg-12 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-search-area">
                        <div>
                          <label for="search-input">
                            <i class="material-icons search-icon">search</i>
                          </label>
                          <input
                            placeholder="Search"
                            type="text"
                            class="browser-default search-field"
                            (keyup)="onSearch($event)"
                            aria-label="Search box"
                          />
                        </div>
                      </div>
                      <!-- <div class="header-buttons-left">
                        <div class="tbl-btn-style">
                          <button
                            class="btn btn-icon icon-left btn-primary rounded-button"
                            (click)="add()"
                            title="Add New Payment"
                          >
                            <i class="material-icons">add</i>
                          </button>
                          <button
                            class="btn btn-icon icon-left btn-success rounded-button"
                            (click)="exportToExcel()"
                            title="Export to Excel"
                          >
                            <i class="material-icons">download</i>
                          </button>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>

                <!-- Filter Section -->
                <!-- <div class="row m-0 mb-3" [formGroup]="filterForm">
                  <div class="col-lg-3 col-md-6 mb-2"></div>
                  <div class="col-lg-3 col-md-6 mb-2">
                    <label class="form-label">Employee</label>
                    <ng-select
                      [items]="employeeList"
                      formControlName="employeeId"
                      bindLabel="text"
                      bindValue="value"
                      [loading]="isEmployeeLoading"
                      [clearable]="true"
                      (change)="onFilterChange()"
                      placeholder="Select Employee"
                    >
                    </ng-select>
                  </div>

                  <div class="col-lg-3 col-md-6 mb-2">
                    <label class="form-label">Month</label>
                    <ng-select
                      [items]="months"
                      formControlName="month"
                      bindLabel="text"
                      bindValue="value"
                      [clearable]="true"
                      (change)="onFilterChange()"
                      placeholder="Select Month"
                    >
                    </ng-select>
                  </div>

                  <div class="col-lg-3 col-md-6 mb-2">
                    <label class="form-label">Year</label>
                    <ng-select
                      [items]="years"
                      formControlName="year"
                      bindLabel="text"
                      bindValue="value"
                      [clearable]="true"
                      (change)="onFilterChange()"
                      placeholder="Select Year"
                    >
                    </ng-select>
                  </div>
                </div> -->
              </div>
            </div>

            <ngx-datatable
              #table
              class="material"
              [rows]="data"
              [loadingIndicator]="loadingIndicator"
              columnMode="force"
              [headerHeight]="60"
              [footerHeight]="80"
              rowHeight="auto"
              [externalPaging]="true"
              [externalSorting]="true"
              [limit]="pagination.pageSize"
              [count]="paging?.totalData ?? 0"
              [scrollbarH]="scrollBarHorizontal"
              [reorderable]="reorderable"
              [selected]="selected"
              [selectionType]="selection"
              (select)="onSelect($event)"
              (page)="setPage($event)"
              (sort)="onSort($event)"
            >
              <ngx-datatable-column
                [width]="70"
                [sortable]="false"
                [draggable]="false"
                [resizeable]="false"
                [canAutoResize]="false"
                [headerCheckboxable]="false"
                [checkboxable]="false"
              >
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Employee Code"
                prop="employeeCode"
                [flexGrow]="1"
              ></ngx-datatable-column>

              <ngx-datatable-column
                name="Employee Name"
                prop="employeeName"
                [flexGrow]="1.5"
              ></ngx-datatable-column>

              <ngx-datatable-column name="Period" prop="period" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span class="badge bg-info">{{
                    getMonthName(row.period)
                  }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Payment Date"
                prop="paymentDate"
                [flexGrow]="1"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.paymentDate | date : "dd/MMM/yyyy" }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Basic Salary"
                prop="basicSalary"
                [flexGrow]="1"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span class="text-primary">
                    {{ row.basicSalary | number : "1.2-2" }}
                  </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Net Amount"
                prop="netAmount"
                [flexGrow]="1"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span class="text-success fw-bold">
                    {{ row.netAmount | number : "1.2-2" }}
                  </span>
                </ng-template>
              </ngx-datatable-column>

              <!-- <ngx-datatable-column
                name="Payment Method"
                prop="paymentMethod"
                [flexGrow]="1.2"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ getPaymentMethodLabel(row.paymentMethod) }}
                </ng-template>
              </ngx-datatable-column> -->

              <ngx-datatable-column
                name="Actions"
                [sortable]="false"
                [flexGrow]="1"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>
                    <button
                      *ngIf="canDeletePayment(row.createdAt)"
                      class="btn btn-tbl-edit h-auto ng-star-inserted"
                      (click)="edit(row.id)"
                      title="Edit Payment"
                    >
                      <i class="fas fa-pen"></i>
                    </button>
                    <button
                      class="btn btn-tbl-info h-auto me-1"
                      (click)="printReceipt(row)"
                      title="Print Receipt"
                    >
                      <i class="fas fa-print"></i>
                    </button>
                    <!-- <button
                      class="btn btn-tbl-secondary h-auto me-1"
                      (click)="view(row.id)"
                      title="View Details"
                    >
                      <i class="fas fa-eye"></i>
                    </button> -->
                    <button
                      *ngIf="canDeletePayment(row.createdAt)"
                      class="btn btn-tbl-delete h-auto"
                      (click)="delete(row)"
                      title="Delete Payment"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                    <button
                      *ngIf="!canDeletePayment(row.createdAt)"
                      class="btn btn-tbl-delete h-auto"
                      disabled
                      title="Deletion is only allowed within 24 hours"
                    >
                      <i class="fas fa-lock"></i>
                    </button>
                  </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
