<div class="modal-header">
  <h4 class="modal-title fw-bold font-17" id="modal-basic-title">
    {{ isEditing ? "Update" : "Add" }} Customer
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <span aria-hidden="true"><i class="material-icons">close</i></span>
  </button>
</div>

<div class="modal-body">
  @if(isLoading){
  <app-form-shimmer [height]="150"></app-form-shimmer>
  } @else{ @if (!isEditing){
  <!-- Add Record Modal Window -->
  <form class="register-form" [formGroup]="register" (ngSubmit)="add(register)">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Customer Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-sm" placeholder="Customer Name" formControlName="customerName" required />
        @if (!register.get('customerName')?.valid &&
        register.get('customerName')?.touched) {
        <small class="form-text text-danger">
          Customer Name is required
        </small>
        }
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Customer Code<span class="text-danger">*</span></label>
        <div class="form-group">
          <div class="input-group mb-3">

            <input type="text" class="form-control form-control-sm" placeholder="Customer Code" formControlName="customerCode" readonly
              required>
            <div class="input-group-append" style="cursor: pointer;" (click)="generateCode()">
              <span class="input-group-text input-group-text-append" style="" id="basic-addon5"><i class="fas"
                  [ngClass]="isGeneratingCode?'fa-spinner fa-spin':'fa-sync'"></i></span>
            </div>
          </div>
        </div>
        @if (!register.get('customerCode')?.valid &&
        register.get('customerCode')?.touched) {
        <small class="form-text text-danger">
          Customer Code is required
        </small>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Customer Mobile<span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-sm" placeholder="Customer Mobile" formControlName="customerMobile" />

        @if (!register.get('customerMobile')?.valid &&
        register.get('customerMobile')?.touched) {
        <small class="form-text text-danger">
          Mobile number is required
        </small>
        }
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Customer Email</label>
        <input type="email" class="form-control form-control-sm" placeholder="Customer Email" formControlName="customerEmail" />
        @if (!register.get('customerEmail')?.valid &&
        register.get('customerEmail')?.touched) {
        <small class="form-text text-danger">
          Invalid email address
        </small>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="form-group position-relative">
          <label>Address</label>
          <i class="fas fa-map-marker-alt input-icons"></i>
          <textarea type="text" class="form-control psl-5" formControlName="address" placeholder="Address"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Credit Limit</label>
        <input type="number" class="form-control form-control-sm" placeholder="Credit Limit" formControlName="creditLimit" />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Opening Balance</label>
        <input type="number" class="form-control form-control-sm" placeholder="Opening Balance" formControlName="openingBalance" />
      </div>
    </div>
    <div class="row">
      <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Office Phone</label>
        <input type="text"
               class="form-control"
               placeholder="Office Phone"
               formControlName="officePhone" />
      </div>-->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Status <span class="text-danger">*</span></label>
        <select class="form-select form-select-sm" formControlName="isActive" required>
          <option value="" selected disabled>
            Please select
          </option>
          @for (status of statusList; track status) {
          <option [value]="status.id">
            {{ status.value }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!register.valid">
        Submit
      </button>
      <button type="button" class="btn btn-light" (click)="activeModal.close(false)">
        Close
      </button>
    </div>
  </form>
  } @else {
  <!-- Edit Record Modal Window -->
  <form [formGroup]="editForm" (ngSubmit)="edit(editForm)">
    <div class="input-field col s12 d-none">
      <input formControlName="id"
             class="form-control"
             type="hidden" />
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Customer Name <span class="text-danger">*</span></label>
        <input type="text"
               class="form-control form-control-sm"
               placeholder="Customer Name"
               formControlName="customerName"
               required />
        @if (!register.get('customerName')?.valid &&
        register.get('customerName')?.touched) {
        <small class="form-text text-danger">
          Customer Name is required
        </small>
        }
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Customer Code<span class="text-danger">*</span></label>
        <input type="text"
               class="form-control form-control-sm"
               placeholder="Customer Code"
               formControlName="customerCode"
               readonly
               required>

        @if (!register.get('customerCode')?.valid &&
        register.get('customerCode')?.touched) {
        <small class="form-text text-danger">
          Customer Code is required
        </small>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Customer Mobile<span class="text-danger">*</span></label>
        <input type="text"
               class="form-control form-control-sm"
               placeholder="Customer Mobile"
               formControlName="customerMobile" />
        @if (!register.get('customerMobile')?.valid &&
        register.get('customerMobile')?.touched) {
        <small class="form-text text-danger">
          Mobile number is required
        </small>
        }
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Customer Email</label>
        <input type="email"
               class="form-control form-control-sm"
               placeholder="Customer Email"
               formControlName="customerEmail" />
        @if (!register.get('customerEmail')?.valid &&
        register.get('customerEmail')?.touched) {
        <small class="form-text text-danger">
          Invalid email address
        </small>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="form-group position-relative">
          <label>Address</label>
          <i class="fas fa-map-marker-alt input-icons"></i>
          <textarea type="text"
                    class="form-control psl-5"
                    formControlName="address"
                    placeholder="Address"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Credit Limit</label>
        <input type="number"
               class="form-control form-control-sm"
               placeholder="Credit Limit"
               formControlName="creditLimit" />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Opening Balance</label>
        <input type="number"
               class="form-control form-control-sm"
               placeholder="Opening Balance"
               formControlName="openingBalance" />
      </div>
    </div>
    <div class="row">
      <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Office Phone</label>
        <input type="text"
               class="form-control"
               placeholder="Office Phone"
               formControlName="officePhone" />
      </div>-->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Status <span class="text-danger">*</span></label>
        <select class="form-select form-select-sm"
                formControlName="isActive"
                required>
          <option value="" selected disabled>
            Please select
          </option>
          @for (status of statusList; track status) {
          <option [value]="status.id">
            {{ status.value }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">
        Save
      </button>
      <button type="button" class="btn btn-light" (click)="activeModal.close(false)">
        Close
      </button>
    </div>
  </form>
  } }
</div>