<div class="modal-header">
  <h4 class="modal-title fw-bold  font-17" id="modal-basic-title">
    {{ isEditing ? "Update" : "Add" }} Product Category
  </h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss(false)">
    <span aria-hidden="true"><i class="material-icons">close</i></span>
  </button>
</div>

<div class="modal-body">
  @if(isLoading){
  <app-form-shimmer [height]="150"></app-form-shimmer>
  }
  @else{
  @if (!isEditing){
  <!-- Add Record Modal Window -->
  <form class="register-form"
        [formGroup]="register"
        (ngSubmit)="add(register)">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Product category <span class="text-danger">*</span></label>
        <input type="text"
               class="form-control"
               placeholder="Product Category"
               formControlName="categoryName"
               required />
        @if (!register.get('categoryName')?.valid &&
        register.get('categoryName')?.touched) {
        <small class="form-text text-danger">
          Product category is required
        </small>
        }
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Description</label>
        <input type="text"
               class="form-control"
               placeholder="Description"
               formControlName="description" />
      </div>
    </div>
    <div class="row">

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Status <span class="text-danger">*</span></label>
        <select class="form-select form-control"
                formControlName="isActive"
                required>
          <option value="" selected disabled>
            Please select
          </option>
          @for (status of statusList; track status) {
          <option [value]="status.id">
            {{ status.value }}
          </option>
          }
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!register.valid || isSubmitted">
        Submit
      </button>
      <button type="button"
              class="btn btn-light"
              (click)="modal.close(false)">
        Close
      </button>
    </div>
  </form>
  }
  @else {
  <!-- Edit Record Modal Window -->
  <form [formGroup]="editForm" (ngSubmit)="edit(editForm)">
    <div class="input-field col s12 d-none">
      <input formControlName="id"
             class="form-control"
             type="hidden" />
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Product category <span class="text-danger">*</span></label>
        <input type="text"
               class="form-control"
               placeholder="Product category"
               formControlName="categoryName"
               required />
        @if (!register.get('categoryName')?.valid &&
        register.get('categoryName')?.touched) {
        <small class="form-text text-danger">
          Product category is required
        </small>
        }
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Description</label>
        <input type="text"
               class="form-control"
               placeholder="Description"
               formControlName="description" />
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <label>Status <span class="text-danger">*</span></label>
        <select class="form-select form-control"
                formControlName="isActive"
                required>
          <option value="" selected disabled>
            Please select
          </option>
          @for (status of statusList; track status) {
          <option [value]="status.id">
            {{ status.value }}
          </option>
          }
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!editForm.valid || !editForm.dirty || isSubmitted">
        Save
      </button>
      <button type="button"
              class="btn btn-light"
              (click)="modal.close(false)">
        Close
      </button>
    </div>
  </form>
  }
  }
</div>
